body {
    padding: 10px;
    text-align: center;
}

input#wisdom {
    padding: 4px;
    font-size: 1em;
    width: 400px
}

input::placeholder {
    color: #ccc;
    font-style: italic;
}

p.userRequest {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    min-width: 50%;
    max-width: 85%;
    float: left;
    background-color: #00FFFF;
}

p.lexResponse {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    text-align: right;
    min-width: 50%;
    max-width: 85%;
    float: right;
    background-color: #bbf;
    font-style: italic;
}

p.lexError {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    text-align: right;
    min-width: 50%;
    max-width: 85%;
    float: right;
    background-color: #f77;
}

.loader {
 border: 16px solid #f3f3f3; /* Light grey */
 border-top: 16px solid #3498db; /* Blue */
 border-radius: 50%;
 width: 20px;
 height: 20px;
 animation: spin 2s linear infinite;
 }

 @keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
 }

 #conversation2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    position: relative;
    margin: 0 auto;
    width: 220px;
    height: 220px;
    border: 1px solid #ccc;
    background-color: #FFFDD0;
    padding: 4px;
    overflow: auto
}
